body {
  background-color: #0F1115;
  margin: 0;
}

.main-content {
  font-family: 'Roboto', sans-serif;
  color: #E6E6E6;
  background-color: #1A1D23;
  width: 55%;
  max-width: 800px;
  margin: 40px auto;

}

.leaderboard {
  width: 100%;
  border-collapse: separate; 
  border-spacing: 0 4px;
  border-radius: 8px;
}

.leaderboard h2 {
  text-align: center;
}

.leaderboard th {
  color: #C7CDD7;
  padding: 12px 20px;
  font-weight: 600;
  font-size: 14px; 
  text-transform: uppercase;
  text-align: center;
}

.leaderboard-row {
  background-color: #22262E;
}

.leaderboard-row td:first-child { border-radius: 5px 0 0 5px; }
.leaderboard-row td:last-child { border-radius: 0 5px 4px 0;}

.leaderboard-row td {
  padding: 12 12px; 
  height: 32px;
  vertical-align: middle;
  text-align: center;
}

.leaderboard-row td:first-child {
  text-align: left;
}

.rank {
  display: inline-flex;         
  align-items: center;        
  justify-content: center;  
  height: 100%;
  width: 40px; 
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-right: 12px;
  font-weight: 500;
  font-size: 18px;
}


.rank { background-color: #7652CA}
.rank-1 { background-color: #B3984F; }
.rank-2 { background-color: #9A9690; }
.rank-3 { background-color: #AC7354; }
.win { color: #4CAF50; }
.lose { color: #EF4444; }
